@import url(colors.css);

.bttnWrap {
    margin: 0;
    display: flex;
    justify-content: center;
}
  
.bttn {
    text-align: center;
    border-radius: 5rem;
    border: .1rem solid;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 1rem;
    margin: 1.5rem 0.3rem;
    padding: .4rem 1.7rem;
    width: 10rem;
    overflow: hidden;
    position: relative;
    transition: background-color 0.2s ease-out, transform 0.3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.single {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

/* Title Buttons */

.titleBttn {
    border-color: var(--txt);
    background-color: var(--glass);
}

.titleBttn:hover {
    background-color: var(--glassHov);
}

@media (max-width: 700px) {
    .titleBttn {
        margin-top: .5rem !important;
        margin-bottom: .5rem !important;
    }
}

/* Normal Buttons */

.normBttn {
    color: var(--bttnTxt);
    border-color: var(--bttnTxt);
    background-color: var(--glass2);
}

.normBttn:hover {
    color: var(--bttnTxt);
    background-color: var(--glassHov2);
}

/* Footer Buttons */

.footBttn {
    color: var(--txt);
    background-color: var(--glass);
    border: 1px solid var(--glassBord) !important;
    font-size: 14px !important;
    /* padding: .5rem .45rem !important; */
    padding: 0 !important;
    width: 2rem !important;
    height: 2rem !important;
    border-radius: 100% !important;
    margin: 0 .3rem !important;
}

.footBttn:hover {
    color: var(--txt);
    background-color: var(--glassHov);
}
