/* Global Color Guide */

:root {
    --txt: #f2f7ff; 
    --txt2: #d9e7ff;
    --txt3: #bfd8ff;

    --bg: #000b20;
    --bg2: #00409d;
    
    --glass: rgba(255, 255, 255, 0.15);
    --glassHov: rgba(255, 255, 255, 0.3);
    --glassBord: rgba(255, 255, 255, 0.4);
    
    --bttnTxt: #80ccfd;
    --glass2: #80ccfd26;
    --glassHov2: #80ccfd4d;
    
    --modal:#003392;
    --favColor: #009afc;
    --primColor: #36b2ff;
    --primColor2: #36b2ff33;
    --altColor:#80ccfd;
    --altColor2:#81ccfd33;
    --bubbleAmbient: rgba(255, 255, 255, 0.2);

    --open: #01b700;
    --busy: #e5b700;
    --closed: #c90013;

    --footer: #003179;
    --footer2: #00193e;

    --scrollThumb: #d9e7ff;
    --scrollHov: #f8fbff;
    --scrollBg: #002763;
}