/* Global Color Guide */

:root {
    --txt: #f2f7ff; 
    --txt2: #d9e7ff;
    --txt3: #bfd8ff;

    --bg: #000b20;
    --bg2: #00409d;

    
    --glass: rgba(255, 255, 255, 0.15);
    --glassHov: rgba(255, 255, 255, 0.3);
    --glassBord: rgba(255, 255, 255, 0.4);
    
    --bttnTxt: #80ccfd;
    --glass2: #80ccfd26;
    --glassHov2: #80ccfd4d;
    
    --modal:#003392;
    --altColor:#80ccfd;
    --bubbleAmbient: rgba(255, 255, 255, 0.2);

    --scrollThumb: #d9e7ff;
    --scrollHov: #f8fbff;
    --scrollBg: #002763;
}