:root {
    --txt: #f2f7ff;
    --subTxt:#a6c8ff;
    --bg: #000b20;
    --bg2: #00409d;
    --modal:#003392;
    --navTxt:#f2f7ff;
    --navTxtHover:#d9e7ff;
    --glass: rgba(255, 255, 255, 0.15);
    --glassHover: rgba(255, 255, 255, 0.3);
    --glassBorder: rgba(255, 255, 255, 0.4);


    --scrollThumb: #d9e7ff;
    --scrollHover: #f8fbff;
    --scrollBg: #002763;
}