@import url(colors.css);

body {
  background-color: var(--bg);
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color: var(--txt);
  line-height: 20px;
  margin: 0;
  position: relative;
  height: 100%;
  padding: 0;
}

.container {
  min-height: 100vh;
  /* max-width: 2600px;
  margin: 0 auto; */
}

h1 {
  font-family: 'Baloo 2', serif;
  font-size: 52px;
  font-weight: 700;
  color: var(--txt);
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-family: 'Baloo 2', serif;
  font-size: 32px;
  font-weight: 700;
  color: var(--txt2);
  margin-top: 20px;
  text-align: center;
  margin-bottom: 10px;
}

h3 {
  font-family: 'Baloo 2', serif;
  font-size: 22px;
  font-weight: 700;
  color: var(--txt2);
  text-align: center;
  margin-top: 0;
  margin-right: 10%;
  margin-left: 10%;
}

p1 {
  text-align: center;
  display: block;
  font-size: 18px;
  color: var(--txt3);
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 0em;
  margin-bottom: 3em;
}

a {
  color: var(--txt);
  text-decoration: none;
}

a:hover {
  color: var(--txt);
}

.last {
  margin-bottom: 6em;
  text-align: center;
}

.bttnWrap {
  margin: 0;
  display: flex;
  justify-content: center;
}

.bttn {
  text-align: center;
  border-radius: 5rem;
  border: .1rem solid;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  font-size: 1rem;
  padding-top: .4rem;
  padding-bottom: .4rem;
  margin-left: .3rem;
  margin-right: .3rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 10rem;
  overflow: hidden;
  position: relative;
  transition: background-color 0.2s ease-out, transform 0.3s ease-out;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper {
min-height:100%;
position:relative;
}

/* html {
  scroll-behavior: smooth;
} */

/* @supports (scrollbar-width: thin) {
  html {
    scrollbar-color: var(--scrollThumb) var(--scrollBg);
  }
} */

/* body::-webkit-scrollbar {
  width: .6vw;
}

body::-webkit-scrollbar-track {
  background: var(--scrollBg);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scrollThumb);
  border-radius: .6vw;
  border: .2vw solid var(--scrollBg);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollHover); 
} */

@media only screen and (max-width: 700px) {
  h1 {
      font-family: 'baloo 2' ,cursive;
      font-size: 32px !important;
  }

  h2 {
      font-family: 'baloo 2' ,cursive;
      font-size: 22px !important;
  } 

  h3 {
      font-family: 'baloo 2' ,cursive;
      font-size: 18px !important;
  }
}

/*

Font: Source Sans Pro
Weights: 600

Font: Baloo 2
Weights: 700

Font: Noto Sans JP
Weights: 400, 500

Font: M Plus Rounded 1c 
Weights: 900

*/