@import url(colors.css);

.filler {
    display: none;
}

.heroSea {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    overflow: hidden !important;
    position: fixed;
    box-shadow: 0em 10rem 0px 0px #0087ff;
    z-index: -1;
}

.heroWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    z-index: 1;
}

.heroContent {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroContent h3 {
    margin:0;
}

.logo {
    background-image: url('/imgs/chlogo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    animation: logoHover 3s ease-in-out infinite;
    transform: rotate(-7.5deg)
}

.titleBttnWrap

.titleBttn {
    border-color: var(--txt);
    background-color: var(--glass);
}

.titleBttn:hover {
    background-color: var(--glassHov);
}

.img1 {
    background-image: url('/imgs/bgSea1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 30vh;
    animation: wave1 8s ease-in-out infinite;
    box-shadow: 0em 1em 0px 0px var(--bg2)
}

.img2 {
    background-image: url('/imgs/bgSea2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    z-index: -3;
    width: 100%;
    height: 100%;
    animation: wave2 10s ease-in-out infinite;
}

.img3 {
    background-image: url('/imgs/bgSea3.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    z-index: -4;
    width: 100%;
    height: 100%;
    animation: wave3 12s ease-in-out infinite;
}

.img4 {
    background-image: url('/imgs/bgSea4.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    z-index: -5;
    width: 100%;
    height: 100%;
    animation: wave4 15s ease-in-out infinite;
}

@keyframes wave1 {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(1vw);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(1vw);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes wave2 {
    0% {
        transform: scale(1.1) translateY(0) translateX(0) rotate(0deg);
    }
    25% {
        transform: scale(1.1) translateY(20px) translateX(30px) rotate(3deg);
    }
    50% {
        transform: scale(1.1) translateY(0) translateX(40px) rotate(0deg);
    }
    75% {
        transform: scale(1.1) translateY(30px) translateX(-30px) rotate(2deg);
    }
    100% {
        transform: scale(1.1) translateY(0) translateX(0) rotate(0deg);
    }
}

@keyframes wave3 {
    0% {
        transform: scale(1.1) translateY(0) translateX(0) rotate(0deg);
    }
    25% {
        transform: scale(1.1) translateY(20px) translateX(-30px) rotate(3deg);
    }
    50% {
        transform: scale(1.1) translateY(0) translateX(40px) rotate(0deg);
    }
    75% {
        transform: scale(1.1) translateY(30px) translateX(20px) rotate(3deg);
    }
    100% {
        transform: scale(1.1) translateY(0) translateX(0) rotate(0deg);
    }
}

@keyframes wave4 {
    0% {
        transform: scale(1.1) translateY(0) translateX(0);
    }
    25% {
        transform: scale(1.1) translateY(50px) translateX(-20px);
    }
    50% {
        transform: scale(1.1) translateY(0) translateX(0px);
    }
    75% {
        transform: scale(1.1) translateY(50px) translateX(-20px);
    }
    100% {
        transform: scale(1.1) translateY(0) translateX(0);
    }
}

@keyframes logoHover {
    0% {
        transform: rotate(-7.5deg) translate(-10px, 0);
    }
    50% {
        transform: rotate(-7.5deg) translate(-10px, 10px);
    }
    100% {
        transform: rotate(-7.5deg) translate(-10px, 0);
    }
    
}

.wrapper {
    display: flex;
    justify-content: center;
    padding-top: 1px;
    padding-bottom: 20vh;
    position: relative;
    background-color: var(--bg2);
    width: 100%;
    z-index: 2;
    overflow: hidden;
}

.miniWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 2600px;
    position: relative;
}

.space {
    height: 250px;
    width: 100%;
}

.bubbleAmbient {
    background-color: var(--bubbleAmbient);
    border-radius: 100%;
    border: 1px solid var(--glassHov);
    /* glass effect */
    /* backdrop-filter: blur(15px);
    box-shadow: inset 0 0 30px 5px var(--glass); */
}

.latestWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.bub1 {
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: -9rem;
    right: -2vw;
    animation: bub1Outer 8s ease-in-out infinite;
}

.bub1 div {
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
    top: 45%;
    right: 65%;
    position: absolute;
    animation: bub1Inner 6s ease-in-out infinite alternate;
}

@keyframes bub1Outer {
    0%, 100% { transform: translate(0, 0); }
    50% { transform: translate(-20px, 20px); }
}

@keyframes bub1Inner {
    0%, 100% { transform: translate(0, 0); }
    50% { transform: translate(10px, -10px); }
}

.bub2 {
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: 20rem;
    left: 0vw;
    animation: bub2Outer 10s ease-in-out infinite;
}

.bub2 div {
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
    bottom: 35%;
    left: 55%;
    position: absolute;
    animation: bub2Inner 6s ease-in-out infinite alternate;
}

@keyframes bub2Outer {
    0%, 100% { transform: translate(0, 0) scale(1); }
    50% { transform: translate(15px, -10px) scale(1.05); }
}

@keyframes bub2Inner {
    0%, 100% { transform: translate(0, 0) scale(1); }
    50% { transform: translate(15px, -15px) scale(.9); }
}

.latestHeaderMob {
    display: none;
}

.latestContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 100px;
    margin-left: 20px;
    margin-bottom: 10vh;
}

.latestContent h1 {
    text-align: unset;
    line-height: .8;
}

.latestContent p1 {
    text-align: unset;
    margin: 0;
}

.latestSwiperDes {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.latestSwiperMob {
    display: none;
}

* {
--slidesWidth: 640px;
--slidesHeight: 360px;
}

.swiperDes {
    width: var(--slidesWidth);
    height: var(--slidesHeight);
    aspect-ratio: 16/9;
    background-color: #fff;
    border-radius: 1rem;
    border: 4px solid var(--altColor);
    overflow: hidden;
    flex-shrink: 1;
    margin-right: 20px;
}

.swiper-slide {
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;;
}

.swiper-slide p1 {
    color: var(--txt);
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.3);
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
}

.swiperPageDes.swiper-pagination {
    position: relative !important;
    transform: translateY(-70px) !important;
}

.swiperPageDes .swiper-pagination-bullet {
    background-color: #fff !important;
    opacity: 1 !important;
    max-width: 4px !important;
    max-height: 30px !important;
    width: 10px !important;
    height: 50px !important;
    border-radius: 50px !important;
    --swiper-pagination-bullet-vertical-gap: 12px !important;
}

.swiperPageDes .swiper-pagination-bullet-active {
    background-color: var(--altColor) !important;
}

.projectsWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bub3 {
    width: 6rem;
    height: 6rem;
    position: absolute;
    top: -1rem;
    left: -4vw;
    animation: bub3 6s ease-in-out infinite;
}

@keyframes bub3 {
    0%, 100% { transform: translate(0, 0); }
    50% { transform: translate(20px, 20px); }
}

.bub4 {
    width: 15rem;
    height: 15rem;
    position: absolute;
    top: 20rem;
    right: 0vw;
    animation: bub4Outer 10s ease-in-out infinite;
}

.bub4 div {
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    top: 0%;
    left: -10%;
    position: absolute;
    animation: bub4Inner 6s ease-in-out infinite alternate;
}

@keyframes bub4Outer {
    0%, 100% { transform: translate(0, 0) scale(1); }
    50% { transform: translate(15px, 10px) scale(.95); }
}

@keyframes bub4Inner {
    0%, 100% { transform: translate(0, 0) scale(1); }
    50% { transform: translate(15px, 15px) scale(1.15); }
}

.projectsContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 100px;
    margin-left: 20px;
    margin-bottom: 10vh;
}

.projectsContent h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: unset;
}

.projectsContent p1 {
    margin: 0;
    margin-bottom: 2rem;
    text-align: unset;
    width: 40vw;
    max-width: 1000px;
}

.projectsContent h3 {
    margin:0;
    text-align: unset;
}

.projectsHeaderMob {
    display: none;
}

.skillsWrap {
    display: flex;
    margin-top: 1.5rem;
    position: relative;
}

.bubMob {
    display: none;
}

.skillsWrap span {
    display: flex;
}

.skill {
    width: 3rem;
    height: 3rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.skill::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--glass);
    color: var(--txt);
    border: 1px solid var(--glassBord);
    border-radius: 5rem;
    backdrop-filter: blur(4px);
    padding: .3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    z-index: 10;
}

.skill:hover::after {
    opacity: 1;
}

.skill:hover {
    transform: scale(1.1);
}

.skillsWrap span:nth-child(2) .skill:nth-child(1) {
    background-image: url("/imgs/skills/bubPS_blueStroke.svg");
    margin-right: 1rem;
}

.skillsWrap span:nth-child(2) .skill:nth-child(2) {
    background-image: url("/imgs/skills/bubAI_blueStroke.svg");
    margin-right: 1rem;
}

.skillsWrap span:nth-child(2) .skill:nth-child(3) {
    background-image: url("/imgs/skills/bubHTML_blueStroke.svg");
    margin-right: 1rem;
}

.skillsWrap span:nth-child(3) .skill:nth-child(1) {
    background-image: url("/imgs/skills/bubCSS_blueStroke.svg");
    margin-right: 1rem;
}

.skillsWrap span:nth-child(3) .skill:nth-child(2) {
    background-image: url("/imgs/skills/bubJS_blueStroke.svg");
    margin-right: 1rem;
}

.skillsWrap span:nth-child(3) .skill:nth-child(3) {
    background-image: url("/imgs/skills/bubNJS_blueStroke.svg");
}

.connectWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bub5 {
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: -2rem;
    left: -15vw;
    animation: bub5Outer 8s ease-in-out infinite;
}

.bub5 div {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    top: 50%;
    left: 55%;
    position: absolute;
    animation: bub5Inner 6s ease-in-out infinite alternate;
}

@keyframes bub5Outer {
    0%, 100% { transform: translate(0, 0); }
    50% { transform: translate(20px, 20px); }
}

@keyframes bub5Inner {
    0%, 100% { transform: translate(0, 0); }
    50% { transform: translate(10px, 10px); }
}

.bub6 {
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: -2.5rem;
    right: -15vw;
    animation: bub6Outer 10s ease-in-out infinite;
}

.bub6 div {
    width: 9rem;
    height: 9rem;
    border-radius: 100%;
    top: 25%;
    right: 35%;
    position: absolute;
    animation: bub6Inner 6s ease-in-out infinite alternate;
}

@keyframes bub6Outer {
    0%, 100% { transform: translate(0, 0) scale(1); }
    50% { transform: translate(15px, -10px) scale(1.05); }
}

@keyframes bub6Inner {
    0%, 100% { transform: translate(0, 0) scale(1); }
    50% { transform: translate(15px, -15px) scale(.9); }
}

.connectHeader {
    margin-bottom: 5rem;
}

.connectContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45rem;
    height: 20rem;
    background-image: url('/imgs/blueDots.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.connectContent a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 15rem;
}

.connectContent a h2 {
    z-index: 3;
    position: absolute;
    font-size: 42px;
}

.connectSquare:nth-child(2) {
    transform: translate(-25%, -10%);
    background-image: url('/imgs/square1.svg');
    width: 10rem;
    height: 10rem;
    position: absolute;
}

.connectSquare:nth-child(3) {
    background-image: url('/imgs/square2.svg');
    transform: translate(25%, 10%);
    width: 10rem;
    height: 10rem;
    position: absolute;
    z-index: 2;
}

.connectContent a:hover .connectSquare:nth-child(2) {
    animation: moveSquare1 0.5s forwards;
}

.connectContent a:hover .connectSquare:nth-child(3) {
    animation: moveSquare2 0.5s forwards;
}

.connectContent a:not(:hover) .connectSquare:nth-child(2) {
    animation: moveSquare1Reverse 0.5s forwards;
}

.connectContent a:not(:hover) .connectSquare:nth-child(3) {
    animation: moveSquare2Reverse 0.5s forwards;
}


@keyframes moveSquare1 {
    0% { transform: translate(-25%, -10%); }
    100% { transform: translate(-30%, -15%); }
}

@keyframes moveSquare1Reverse {
    0% { transform: translate(-30%, -15%); }
    100% { transform: translate(-25%, -10%); }
}

@keyframes moveSquare2 {
    0% { transform: translate(25%, 10%); }
    100% { transform: translate(30%, 15%); }
}

@keyframes moveSquare2Reverse {
    0% { transform: translate(30%, 15%); }
    100% { transform: translate(25%, 10%); }
}


/* Mobile Viewports */

@media screen and (max-width: 1030px) {
    .logo {
        width: 15rem;
        height: 15rem;
    }

    .latestWrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        width: 100%;
    }

    .latestContent {
        align-items: center;
        text-align: center;
        margin-right: 2rem;
        margin-left: 2rem;
        margin-bottom: 0;
        margin-top: 2rem;
    }

    .swiperDes {
        margin-right: 0;
    }

    .projectsWrap {
        flex-direction: column;
    }

    .projectsContent {
        align-items: center;
        text-align: center;
        margin-right: 2rem;
        margin-left: 2rem;
        margin-bottom: 0;
        margin-top: 2rem;
    }

    .projectsContent p1 {
        width: 80vw;
        margin-bottom: 250px;
    }
}

@media only screen and (max-width: 700px) {
    .logo {
        width: 10rem;
        height: 10rem;
    }

    .titleBttnWrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .titleBttn {
        margin-top: .5rem !important;
        margin-bottom: .5rem !important;
    }

    .heroContent h3 {
        margin-bottom: revert;
    }

    .heroWrap {
        align-items: flex-end !important;
        /* height: 60vh !important; */
    }

    .heroSea {
        height: 90vh !important;
    }

    .img1 {
        position: absolute !important;
        height: 20vh !important;
    }

    .wrapper {
        margin-top: 20vh;
    }

    @keyframes wave1 {
        0% {
            transform: translateY(1.5vw);
        }
        25% {
            transform: translateY(2.8vw);
        }
        50% {
            transform: translateY(1.5vw);
        }
        75% {
            transform: translateY(2.8vw);
        }
        100% {
            transform: translateY(1.5vw);
        }
    }
    
    @keyframes wave2 {
        0% {
            transform: scale(1) translateY(0) translateX(0) rotate(0deg);
        }
        25% {
            transform: scale(1) translateY(20px) translateX(0) rotate(0deg);
        }
        50% {
            transform: scale(1) translateY(0) translateX(0) rotate(0deg);
        }
        75% {
            transform: scale(1) translateY(30px) translateX(0) rotate(0deg);
        }
        100% {
            transform: scale(1) translateY(0) translateX(0) rotate(0deg);
        }
    }
    
    @keyframes wave3 {
        0% {
            transform: scale(1) translateY(0) translateX(0) rotate(0deg);
        }
        25% {
            transform: scale(1) translateY(20px) translateX(0) rotate(0deg);
        }
        50% {
            transform: scale(1) translateY(0) translateX(0) rotate(0deg);
        }
        75% {
            transform: scale(1) translateY(30px) translateX(0) rotate(0deg);
        }
        100% {
            transform: scale(1) translateY(0) translateX(0) rotate(0deg);
        }
    }
    
    @keyframes wave4 {
        0% {
            transform: scale(1) translateY(0) translateX(0);
        }
        25% {
            transform: scale(1) translateY(50px) translateX(0);
        }
        50% {
            transform: scale(1) translateY(0) translateX(0);
        }
        75% {
            transform: scale(1) translateY(50px) translateX(0);
        }
        100% {
            transform: scale(1) translateY(0) translateX(0);
        }
    }

    .latestSwiperDes {
        display: none !important;
    }

    .latestWrap {
        flex-direction: column;
    }

    .bubbleAmbient {
        opacity: .5;
    }
    
    .latestSwiperMob {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .swiperMob {
        width: calc(var(--slidesWidth)/2);
        height: calc(var(--slidesHeight)/2);
        background-color: #fff;
        border-radius: 1rem;
        border: 4px solid var(--altColor);
        overflow: hidden;
    }
    
    .swiper-slide p1 {
        padding-top: .5rem;
        padding-bottom: .5rem;
        font-size: 16px;
    }
    
    .swiperPageMob.swiper-pagination {
        position: relative !important;
        transform: translateY(1vh) !important;
    }
    
    .swiperPageMob .swiper-pagination-bullet {
        background-color: #fff !important;
        opacity: 1 !important;
        max-height: 4px !important;
        max-width: 30px !important;
        height: 1vh !important;
        width: 5vh !important;
        border-radius: 5vh !important;
        --swiper-pagination-bullet-vertical-gap: 1.2vh !important;
    }
    
    .swiperPageMob .swiper-pagination-bullet-active {
        background-color: var(--altColor) !important;
    }

    .latestHeaderMob {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.5rem;
    }

    .latestHeaderDes {
        display: none;
    }

    .latestContent {
        margin-top: 1rem;
    }
    
    .projectsContent {
        margin-top: 1rem;
    }

    .projectsHeaderMob {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.5rem;
    }

    .projectsHeaderDes {
        display: none;
    }

    .bubMob {
        display: block;
        width: 13rem;
        height: 13rem;
        position: absolute;
        top: 3rem;
        right: -1vw;
        animation: bubMobOuter 10s ease-in-out infinite;
    }
    
    .bubMob div {
        width: 9rem;
        height: 9rem;
        border-radius: 100%;
        top: 35%;
        right: 55%;
        position: absolute;
        animation: bubMobInner 6s ease-in-out infinite alternate;
    }
    
    @keyframes bubMobOuter {
        0%, 100% { transform: translate(0, 0) scale(1); }
        50% { transform: translate(10px, -5px) scale(1.05); }
    }
    
    @keyframes bubMobInner {
        0%, 100% { transform: translate(0, 0) scale(1); }
        50% { transform: translate(15px, -15px) scale(.9); }
    }

    /* .skillsWrap {
        flex-direction: column;
    }
    
    .skillsWrap span:nth-child(2) .skill:nth-child(3) {
        margin-right: 0;
    }

    .skillsWrap span:nth-child(3) {
        margin-top: 1rem;
    }
    
    .skillsWrap span:nth-child(3) .skill:nth-child(3) {
        margin-right: 0;
    } */

    .skillsWrap span {
        flex-direction: column;
    }

    .skillsWrap span:nth-child(2) {
        margin-right: .5rem;
    }

    .skill {
        width: 6rem;
        height: 6rem;
        margin: .5rem !important;
    }

    .connectWrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .connectHeader {
        margin-bottom: 1rem;
    }
    
    .connectContent {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20rem;
        height: 20rem;
        background-image: url('/imgs/blueDots_small.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
    }
    
    .connectContent a {
        width: 13rem;
        height: 13rem;
    }
    
    .connectContent a h2 {
        font-size: 28px !important;
    }

    .connectSquare {
        width: 8rem !important;
        height: 8rem !important;;
    }
}

@media only screen and (max-height: 550px) and (max-width: 700px) {
    .filler {
        display: block;
        width: 100%;
        height: 30vh;
    }

    .heroSea {
        top: 30vh;
    }
}

@media only screen and (max-height: 600px) {
    .img2, .img3, .img4 {
        background-size: cover !important;
        background-position: top !important;
    }
}

/* 
--swiper-pagination-color: var(--swiper-theme-color);
--swiper-pagination-bullet-size: 8px;
--swiper-pagination-bullet-width: 8px;
--swiper-pagination-bullet-height: 8px;
--swiper-pagination-bullet-inactive-color: #000;
--swiper-pagination-bullet-inactive-opacity: 0.2;
--swiper-pagination-bullet-opacity: 1;
--swiper-pagination-bullet-horizontal-gap: 4px;
--swiper-pagination-bullet-vertical-gap: 6px; 
*/