@import url(colors.css);

.filler {
    display: none;
}

.heroSea {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    overflow: hidden !important;
    position: fixed;
    z-index: -1;
}

.heroWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    z-index: 1;
}

.heroContent {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroContent h3 {
    color: var(--txt) !important;
    margin:0;
}

.logo {
    background-image: url('/imgs/chlogo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    animation: logoHover 3s ease-in-out infinite;
    transform: rotate(-7.5deg)
}

.titleBttnWrap

.titleBttn {
    border-color: var(--txt);
    background-color: var(--glass);
}

.titleBttn:hover {
    background-color: var(--glassHov);
}

.img1 {
    background-image: url('/imgs/bgSea1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    /* position: absolute; */
    z-index: 1;
    width: 100%;
    height: 30vh;
    animation: wave1 8s ease-in-out infinite;
    border-bottom: 5px solid var(--bg2);
    /* border: 5px solid purple; */
}

.img2 {
    background-image: url('/imgs/bgSea2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    z-index: -3;
    width: 100%;
    height: 100%;
    animation: wave2 10s ease-in-out infinite;
    /* border: 5px solid cyan; */
}

.img3 {
    background-image: url('/imgs/bgSea3.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    z-index: -4;
    width: 100%;
    height: 100%;
    animation: wave3 12s ease-in-out infinite;
    /* border: 5px solid yellow; */
}

.img4 {
    background-image: url('/imgs/bgSea4.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    z-index: -5;
    width: 100%;
    height: 100%;
    animation: wave4 15s ease-in-out infinite;
    /* border: 5px solid pink; */
}

@keyframes wave1 {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(1vw);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(1vw);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes wave2 {
    0% {
        transform: scale(1.1) translateY(0) translateX(0) rotate(0deg);
    }
    25% {
        transform: scale(1.1) translateY(20px) translateX(30px) rotate(3deg);
    }
    50% {
        transform: scale(1.1) translateY(0) translateX(40px) rotate(0deg);
    }
    75% {
        transform: scale(1.1) translateY(30px) translateX(-30px) rotate(2deg);
    }
    100% {
        transform: scale(1.1) translateY(0) translateX(0) rotate(0deg);
    }
}

@keyframes wave3 {
    0% {
        transform: scale(1.1) translateY(0) translateX(0) rotate(0deg);
    }
    25% {
        transform: scale(1.1) translateY(20px) translateX(-30px) rotate(3deg);
    }
    50% {
        transform: scale(1.1) translateY(0) translateX(40px) rotate(0deg);
    }
    75% {
        transform: scale(1.1) translateY(30px) translateX(20px) rotate(3deg);
    }
    100% {
        transform: scale(1.1) translateY(0) translateX(0) rotate(0deg);
    }
}

@keyframes wave4 {
    0% {
        transform: scale(1.1) translateY(0) translateX(0);
    }
    25% {
        transform: scale(1.1) translateY(50px) translateX(-20px);
    }
    50% {
        transform: scale(1.1) translateY(0) translateX(0px);
    }
    75% {
        transform: scale(1.1) translateY(50px) translateX(-20px);
    }
    100% {
        transform: scale(1.1) translateY(0) translateX(0);
    }
}

@keyframes logoHover {
    0% {
        transform: rotate(-7.5deg) translate(-10px, 0);
    }
    50% {
        transform: rotate(-7.5deg) translate(-10px, 10px);
    }
    100% {
        transform: rotate(-7.5deg) translate(-10px, 0);
    }
    
}

.wrapper {
    padding-top: 1px;
    padding-bottom: 100vh;
    position: relative;
    background-color: var(--bg2);
    width: 100%;
    z-index: 2;
}


/* Mobile Viewports */

@media screen and (max-width: 1030px) {
    .logo {
        width: 15rem;
        height: 15rem;
    }
}

@media only screen and (max-width: 700px) {
    .logo {
        width: 10rem;
        height: 10rem;
    }

    .titleBttnWrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .titleBttn {
        margin-top: .5rem !important;
        margin-bottom: .5rem !important;
    }

    .heroContent h3 {
        margin-bottom: revert;
    }

    .heroWrap {
        align-items: flex-end !important;
        /* height: 60vh !important; */
    }

    .heroSea {
        height: 90vh !important;
    }

    .img1 {
        position: absolute !important;
        height: 20vh !important;
    }

    /* .heroContent {
        transform: translateY(0) !important;
        position: fixed;
    } */

    .wrapper {
        margin-top: 20vh;
    }

    @keyframes wave1 {
        0% {
            transform: translateY(1.5vw);
        }
        25% {
            transform: translateY(2.8vw);
        }
        50% {
            transform: translateY(1.5vw);
        }
        75% {
            transform: translateY(2.8vw);
        }
        100% {
            transform: translateY(1.5vw);
        }
    }
    
    @keyframes wave2 {
        0% {
            transform: scale(1) translateY(0) translateX(0) rotate(0deg);
        }
        25% {
            transform: scale(1) translateY(20px) translateX(0) rotate(0deg);
        }
        50% {
            transform: scale(1) translateY(0) translateX(0) rotate(0deg);
        }
        75% {
            transform: scale(1) translateY(30px) translateX(0) rotate(0deg);
        }
        100% {
            transform: scale(1) translateY(0) translateX(0) rotate(0deg);
        }
    }
    
    @keyframes wave3 {
        0% {
            transform: scale(1) translateY(0) translateX(0) rotate(0deg);
        }
        25% {
            transform: scale(1) translateY(20px) translateX(0) rotate(0deg);
        }
        50% {
            transform: scale(1) translateY(0) translateX(0) rotate(0deg);
        }
        75% {
            transform: scale(1) translateY(30px) translateX(0) rotate(0deg);
        }
        100% {
            transform: scale(1) translateY(0) translateX(0) rotate(0deg);
        }
    }
    
    @keyframes wave4 {
        0% {
            transform: scale(1) translateY(0) translateX(0);
        }
        25% {
            transform: scale(1) translateY(50px) translateX(0);
        }
        50% {
            transform: scale(1) translateY(0) translateX(0);
        }
        75% {
            transform: scale(1) translateY(50px) translateX(0);
        }
        100% {
            transform: scale(1) translateY(0) translateX(0);
        }
    }
}

.miniWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 2600px;
}




@media only screen and (max-height: 550px) and (max-width: 700px) {
    .filler {
        display: block;
        width: 100%;
        height: 30vh;
    }

    .heroSea {
        top: 30vh;
    }
}

@media only screen and (max-height: 600px) {
    .img2, .img3, .img4 {
        background-size: cover !important;
        background-position: top !important;
    }
}